body {
  background-color: #000;
  color: #0af;
  font-family: "Ubuntu Mono", monospace;
  text-align: center;
}

a {
  background-color: #000;
  color: #707;
  font-family: "Ubuntu Mono", monospace;
}

div.navbar {
  background-color: #00;
  color: #0af;
  font-family: "Ubuntu Mono", monospace;
  text-align: center;

h1 {
  text-align: center;
}
