body {
  background-color: #000;
  color: #0af;
  text-align: center;
}

div.navbar {
  background-color: #000;
  color: #0af;
  font-family: "Ubuntu Mono", sans-serif;
  text-align: center;
}

h1 {
  text-align: center;
}
